@model IEnumerable<Banco.Models.Cuentum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Número de Cuenta
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumCuenta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NumCuenta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NumCuenta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
