@model Banco.Models.Historial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Historial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagoRealizados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagoRealizados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagoPendientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagoPendientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominaEncargadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominaEncargadoNavigation.Nomina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumCuentaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumCuentaNavigation.NumCuenta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumHistorial">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
